body {
    margin: 50px 250px;
    margin-bottom: 0px;
    font-family: monospace;
    background-color: black;
    color: white;
} 

#whoami{
    margin-left: 5px;
}

#welcome {
    border: 2px solid rgba(255, 255, 255, 0.471);
    padding: 0px;
    margin-bottom: 50px;
}

#welcome:hover {
    border: 2px solid white;
    transition: 1s;
}

.cat {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    background-color: white;
    color: black;
}

#content {
    padding: 5px;
    background-color: black;
    color: white;
    margin-bottom: 50px;
}

p {
    font-size: large;
}

#assignment {
    border: 2px solid rgba(255, 255, 255, 0.471);
    padding: 0px;
}

#assignment:hover {
    border: 2px solid white;
    transition: 1s;
}

#commands {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

#commands h3 {
    margin-top: 0;
    margin-left: 5px;
    padding: 25px 0px 5px 0px;
    line-height: 0;
}

#ls {
    padding: 0;
    margin-top: 0;
}

ul {
    padding: 5px;
    background-color: black;
    color: white;
    margin-bottom: 50px;
}

li {
    list-style: none;
    font-size: large;
    margin: 5px 0px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}