body {
    margin: 50px 250px;
    font-family: monospace;
    background-color: black;
    color: white;
} 

#welcome {
    border: 3px solid white;
    padding: 0px;
    margin-bottom: 100px;
}

.cat {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    background-color: white;
    color: black;
}

#content {
    padding: 5px;
    background-color: black;
    color: white;
    margin-bottom: 50px;
}

#assignment {
    border: 3px solid white;
    padding: 0px;
}

#commands {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

#commands h4 {
    margin: 5px;
    padding: 0;
}

ul {
    padding: 5px;
    background-color: black;
    color: white;
    margin-bottom: 50px;
}